.left-bar {
  width: 290px;
  height: 42px;
  position: fixed;
  bottom: 340px;
  left: 0px;
  transform: rotate(90deg);
  transform-origin: left bottom;
  z-index: 90;
  cursor: pointer;
  padding-left: 20px;
  background: black;
}

.left-content-mobile {
  background: black;
  width: 100%;
  height: 200px;
  position: fixed;
  bottom: 8%;
  left: 0;
  z-index: 10;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 20px 22px 16px;  
  justify-content: space-between;
}
.left-heading {
  display: flex;
  height: 42px;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 42px;
  padding: 0;
  letter-spacing: 5px;
  white-space: nowrap;
}
.left-icon {
  width: 50px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  height: 42px;
  align-items: center;
}
.icon {
  width: 16px;
  height: 12px;
  border-top: rgba(0, 0, 0, 0);
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 12px solid white;
}
.left-content {
  background: black;
  width: 380px;
  height: 200px;
  position: fixed;
  bottom: 50px;
  left: 0;
  z-index: 100;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 20px 22px 16px;
  display: flex;
  justify-content: space-between;
}
.left-form {
  left: 1 1;
  padding-bottom: 10px;
  flex-direction: column;
}
