@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.main_register {
  margin: 0%;
  box-sizing: border-box;
  background: #f2f2f2;
  font-family: "Lato", sans-serif;
  padding: 60px 0px;
}

.register_existing {
  width: 65%;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  
}

.register_existing > div {
  width: 100%;
  height: auto;
}

.existing_register {
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
}
.existing_content_register{
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  background-image: url(https://js.lixibox.com/image-assets/login/desktop-signin.png);
}
.existing_content_register h4 {
  text-align: left;
  color: rgb(32, 32, 32);
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
  position: relative;  
}

.existing_register h4 {
  text-align: left;
  color: rgb(32, 32, 32);
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
  position: relative;  
}
.ip_register_label{
  font-size: 14px;
  text-align: left;
  color: rgb(32, 32, 32);
  line-height: 20px;
}
.existing_register label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.existing_register label:nth-child(4) {
  margin-top: 20px;
}

.existing_register input {
  padding: 0px 20px;
  height: 40px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.2px;
}
.ip_register_email{
  border-radius: 8px;
  border: 1px solid #e5ebee;
}
.ip_register_password{
  border-radius: 8px;
  border: 1px solid #e5ebee;
}
.ip_register_ht{
  border-radius: 8px;
  border: 1px solid #e5ebee;
}
.new_register_content {
  padding: 20px 30px;
  box-sizing: border-box;
  background: white;
}

.new_register_content h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.forget_password {
  margin-top: 10px;
  line-height: 40px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
  font-size: 14px;
  color: #202020;
}

.forget_password:hover {
  text-decoration: none;
  color: #202020;
}

.sing_register_button {
  margin-top: 30px;
  height: 45px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  background: #2e3337;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  background-color: rgb(254, 44, 109);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}


.sing_register_button + p {
  color: #333333;
  font-size: 15px;
}

.register_social_links {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.register_social_links a {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #666666;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}
.register_btn_fb{
  border-radius: 8px;
  background: white;
}
.register_btn_email{
  border-radius: 8px;
  background: white;
}
.register_social_links > a > img {
  width: 13%;
}

.register_social_links a:hover {
  background: rgb(240, 238, 238);
  border: 1px solid rgb(240, 238, 238);
  transition: 0.3s ease;
  border: 1px solid black;
}

.new_register_content {
  display: flex;
  flex-direction: column;
}

.new_continue {
  height: 45px;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  background: #2e3337;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
  margin-bottom: 20px;
}

.new_continue:hover {
  background: rgba(2, 199, 199, 0.85);
  color: black;
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .register_existing {
    width: 83%;
  }
}

@media (max-width: 1032px) {
  .forget_password {
    text-overflow: inherit;
  }
}

@media (max-width: 899px) {
  .register_existing {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 599px) {
  .register_existing {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .forget_password {
    width: 100%;
    font-size: 14.5px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .register_social_links > a > img {
    width: 20%;
  }

  .register_social_links a {
    font-size: 12px;
  }
}
